/*Style that changes all the fonts in the page to seriff. The bootstrap default is sans-serriff */
* {
    font-family: Helvetica, sans-serif;
} 

.contact-list {
    font-family: Helvetica, sans-serif;
    color: white;
    font-style: bold;
}

body, .card, a, .navbar {
    background-color: black;
    font: gray;
    margin: 0;
    padding: 0;
}

.subhead {
    font-style: italic;
}

.rule-lines, .rule-lines-second {
    border-color: white;
    background-color: white;
    color: white;
    justify-self: left;
}

.fab, .fas {
    color:gray;
}

span {
    color:white;

}

.rule-lines-second {
    border-color: gray;
    background-color:gray;
    color:gray;
    margin-right:100%;
}

#portrait {
    border: 2px solid #17A2B8;
    width: auto;
    height: 200px;
}

/* Changes portrait location when the screen has a max-width of 600px or below */
@media screen and (max-width: 600px){
    #portrait {
        width: 100%;
        height: auto;
    }
}
/* Sets the height and max width for the portfolio.html placeholder images */
.portfolio-img {
    height: 350px;
    max-width: 100%;
}