/*Style that changes all the fonts in the page to seriff. The bootstrap default is sans-serriff */
 * {
    font-family: Helvetica, sans-serif;
} 
/* Style for the footer border width */
.border-top {
    border-width: 8px !important;
}

#portrait {
    border: 2px solid #17A2B8;
    width: auto;
    height: 200px;
}

.favicon {
    background-color: #17A2B8;
}
/* Changes portrait location when the screen has a max-width of 600px or below */
@media screen and (max-width: 600px){
    #portrait {
        width: 100%;
        height: auto;
    }
}
/* Sets the height and max width for the portfolio.html placeholder images */
.portfolio-img {
    height: 350px;
    max-width: 100%;
}

.card {
    margin: 3px;
}

.header-portfolio {
    background-color: #92c2d7;
}

.card-footer, .list-group-item {
    background-color: #3f4b47;
    color: whitesmoke;
}

.portrait-info {
    background-color: #92c2d7;
    color: white;
}

a {
    color: white;
}

.caro {
    color:  #3f4b47;
}

.subhead {
    color:  #3f4b47;
    font: italic;
}