.border-top {
    border-width: 8px !important;
}

.navbar-brand, .card-header {
    font-family: Georgia, "Times New Roman", Times, serif;
}

body {
    background: url("https://i.imgur.com/MJAkxbh.png");
}