/*Style that changes all the fonts in the page to seriff. The bootstrap default is sans-serriff */
* {
    font-family: Helvetica, sans-serif;
} 

/* Tag styles */
body, .card, a, .navbar {
    background-color: black;
    font: gray;
    margin: 0;
    padding: 0;
}

span {
    color:white;

}

/* ID styles */
.contact-list {
    font-family: Helvetica, sans-serif;
    color: white;
    font-style: bold;
}

.fab, .fas {
    color:gray;
}

.hr-contacts {
    border-style: solid;
    border-top: 1px;
    height: 0;
    width: 232px;
    border-width: 1px;
    border-color: white;
    margin-left:0;
}

.portfolio-img {
    height: 350px;
    max-width: 100%;
}

.rule-lines-second {
    border-color: gray;
    background-color:gray;
    color:gray;
    margin-right:100%;
}

.rule-lines, .rule-lines-second {
    border-color: white;
    background-color: white;
    color: white;
    justify-self: left;
}

.subhead {
    font-style: italic;
}

/* Class style */

#portrait {
    border: 2px solid #17A2B8;
    width: auto;
    height: 200px;
}

#avatar {
    display: block;
    border-radius: 45px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #cfd8dc;
    height: 45px;
    width: 45px
  }

/* Changes portrait location when the screen has a max-width of 600px or below */
@media screen and (max-width: 600px){
    #portrait {
        width: 100%;
        height: auto;
    }
}
